      <% comment.subcomments.each do |subcomment| %>
         <div id="subremark" ><p><%= subcomment.body %></p>
         <div id="commenter" ><p><%= subcomment.commenter %></p>
         </div>
         </div>
      <% end %>
        
        

  
